@import '../../../index.scss';

.terms {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-top: 3em;
    color: $color-suave;
    font-size: 0.8rem;
    row-gap: 1em;
    margin-top: 1em;
    & input {
        appearance: none;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 2px $color-texto;
        border-radius: 10%;
        position: relative;

        &:checked {
            content: '';
            background-image: url(../../../assets/check.png);
            font-size: 15px;
            color: white;
            font-weight: 700;
            background-color: $color-check;
        }
    }
    & label {
        justify-self: start;
    }
}
