@import '../../../index.scss';

.detallesPlanes {
    &__contenedor {
        background-color: $marcadeagua;
        padding: 5px;
        margin-top: 3em;
        border-radius: 10px;
    }
    &__encabezado {
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        padding: 5px 0;
        color: $color-texto;
    }
}

.detallesPlanes {
    &__contenedorInterno {
        background-color: white;
        padding: 2em 1em 2em 2em;
        color: $color-texto;
    }
    &__resumenPlan {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 1em 3em 0;
        margin-bottom: 2em;
        border-bottom: solid 2px $marcadeagua;
        & div {
            border-right: solid 2px $marcadeagua;
        }
    }
    &__cobertura {
        font-size: 1.2rem;
        font-weight: 600;
    }
    &__montoCobertura {
        font-size: 2rem;
        margin: 0.5em 0;
    }
    &__tipodePlan {
        color: white;
        background-color: $color-check;
        border-radius: 10%;
        padding: 5px 10px;
        border: none;
        font-size: 0.8rem;
        margin-top: 1em;
        font-weight: 600;
    }
    &__imagen {
        max-width: 80px;
        justify-self: center;
        align-self: center;
    }
    &__tituloPresentacion {
        font-size: 1.5rem;
        color: $color-texto;
        line-height: 1;
        margin-top: 1.5em;
    }
    &__tituloEnfasisPresentacion {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-principal;
        margin-bottom: 1.5em;
    }
}
