@import '../../index.scss';

.formularioPaso1 {
    margin-top: 3em;

    &__form {
        margin: 2em 0;
    }

    &__botonEnviar {
        margin: 3em 0;
        display: flex;
        justify-content: flex-end;
    }
}
