@import '../../index.scss';

.contenedorPrincipal {
    background-color: $marcadeagua;
    padding: 5px;
    margin-top: 3em;
    border-radius: 10px;

    &__encabezado {
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        padding: 5px 0;
        color: $color-texto;
    }
}
.contenedorInterno {
    background-color: white;
    padding: 2em 1em 2em 2em;
    color: $color-texto;
    &__resumenPlan {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 1em 3em 0;
        margin-bottom: 2em;
        border-bottom: solid 2px $marcadeagua;
        & div {
            border-right: solid 2px $marcadeagua;
        }
        &--cobertura {
            font-size: 1.2rem;
            font-weight: 600;
        }
        &--montoCobertura {
            font-size: 2rem;
            margin: 0.5em 0;
        }
        &--tipodePlan {
            color: white;
            background-color: $color-check;
            border-radius: 10%;
            padding: 5px 10px;
            border: none;
            font-size: 0.8rem;
            margin-top: 1em;
            font-weight: 600;
        }
        &--imagen {
            max-width: 80px;
            justify-self: center;
            align-self: center;
        }
    }
}
