@import '../../index.scss';

.informacion {
    padding: 0;
    margin: 0;
    background: linear-gradient(
        90deg,
        rgba(47, 128, 237, 1) 80%,
        rgba(255, 255, 255, 1) 20%
    );

    & main {
        padding: 10em;
        margin: 0;
        background-image: url(../../assets/base.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        color: $color-negativo;
    }

    &__tituloInfo {
        font-weight: 100;
        line-height: 1;
        font-size: 3rem;

        &--enfasis {
            font-size: 3rem;
            font-weight: 400;
            padding-bottom: 0.5em;
        }
    }

    &__features {
        font-weight: 100;
        list-style: none;
        line-height: 3;
        display: flex;
        align-items: center;

        &--icono {
            padding-right: 0.5em;
            transform: scale(0.6);
        }
    }

    &__copyright {
        margin-top: 5em;
        color: $marcadeagua;
    }
    &__sombra {
        position: absolute;
        left: 38%;
        top: 20%;
    }
}
