@import '../../index.scss';

.login {
    padding-top: 10em;
}

.formularioLogin {
    margin-top: 3em;
    padding-right: 5em;

    &__fechaNacimiento {
        @include placeholderFlotante;
        & input[type='date']::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background-image: url(../../assets/calendar-alt-solid.png);
            border-radius: 4px;
            margin-right: 2px;
        }
    }

    &__telefono {
        @include placeholderFlotante;
    }
    &__terminos {
        margin-top: 3em;
    }
    &__enviar {
        padding: 1em 2em;
        text-transform: uppercase;
        border-radius: 10px;
        background-color: $color-principal;
        border: none;
        margin-top: 3em;
        color: white;
        transition: all 300ms ease;
        letter-spacing: 1px;
    }
}
