@import '../../index.scss';

.login {
    padding-top: 10em;
}

.formularioLogin {
    margin-top: 3em;
    padding-right: 5em;

    &__fechaNacimiento {
        @include placeholderFlotante;
        & input[type='date']::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background-image: url(../../assets/calendar-alt-solid.png);
            border-radius: 4px;
            margin-right: 2px;
        }
    }

    &__telefono {
        @include placeholderFlotante;
    }

    &__terms {
        display: grid;
        grid-template-columns: 1fr 8fr;
        margin-top: 3em;
        color: $color-suave;
        font-size: 0.8rem;
        row-gap: 1em;

        & input {
            appearance: none;
            width: 20px;
            height: 20px;
            box-shadow: inset 0 0 2px $color-texto;
            border-radius: 10%;
            position: relative;

            &:checked {
                content: '';
                background-image: url(../../assets/check.png);
                font-size: 15px;
                color: white;
                font-weight: 700;
                background-color: $color-check;
            }
        }
        & label {
            justify-self: start;
        }
    }

    &__enviar {
        padding: 1em 2em;
        text-transform: uppercase;
        border-radius: 10px;
        background-color: $color-principal;
        border: none;
        margin-top: 3em;
        color: white;
        transition: all 300ms ease;
        letter-spacing: 1px;
    }
}
