@import '../../../index.scss';

.botonera {
    padding: 1em 2em;
    text-transform: uppercase;
    border-radius: 10px;
}

.icono {
    margin-left: 1em;
}
.botonRetorno {
    padding: 0.7em 3.5em;
    border-radius: 10px;
}
